<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.olsm_admin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.OLSM_admin">
        <activity
            android:name="courses.scrolling_view_course"
            android:label="@string/title_activity_scrolling_view_course"
            android:theme="@style/Theme.OLSM_admin.NoActionBar"></activity>
        <activity android:name="courses.view_course" />
        <activity android:name="courses.add_course" />
        <activity android:name=".courses_one" />
        <activity android:name=".instructor_view" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.OLSM_admin.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>